boto3==1.10.48
botocore==1.13.48
docutils==0.15.2
gitdb2==2.0.6
GitPython==3.0.5
jmespath==0.9.4
piprot==0.9.11
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.2.1
six==1.13.0
smmap2==2.0.5
structlog==19.2.0
tzlocal==2.0.0
urllib3==1.25.7
watchtower==0.7.3
